body {
    color: #ffffff;
}
.flex {
    display: flex;
    
}

/**/
.left-end {
    margin-left: auto;
}
.right-end {
    margin-right: auto;
}
.top-end {
    margin-top: auto;
}
.bottom-end {
    margin-bottom: auto;
}

.phone {
    height: 600px;
    background: #eee;
}
.top-nav {
    background: #ababab;
    font-size: 10px;
    padding: 2px;
}
.top-nav div{
    padding: 0 2px;
}

@media only screen and (min-width:768px) {

    .phone {
        width: 360px;
        margin: auto;
    }
    .bottom-box {
        position: absolute;
        bottom: 65px;
        background: #333;
    }


}